# Сбор и сортировка данных
Здесь собираются и сортируются данные из нижеприведенных таблиц

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

Импортируем таблицы

In [2]:
sovest=pd.read_excel("C:/Users/Ренат/Desktop/Sovest/01_Sovest.xlsx")

In [3]:
fps=pd.read_excel("C:/Users/Ренат/Desktop/Sovest/02_FPS.xlsx")

Таблицы afs будут загружены позже, т.к. для их нормировки необходим более оптимальный алгоритм.

- afs_1_1=pd.read_excel("C:/Users/Ренат/Desktop/Project/04_AFS-1.xlsx", 'list-1')
- afs_1_2=pd.read_excel("C:/Users/Ренат/Desktop/Project/04_AFS-1.xlsx", 'list-2')
- afs_2=pd.read_excel("C:/Users/Ренат/Desktop/Project/04_AFS-2.xlsx")

In [4]:
geoval=pd.read_csv("C:/Users/Ренат/Desktop/Sovest/06_geoval.csv", delimiter=',')

In [5]:
score=pd.read_csv("C:/Users/Ренат/Desktop/Sovest/07_score.csv", delimiter=',')

In [6]:
bd_score=pd.read_csv("C:/Users/Ренат/Desktop/Sovest/08_bd_score.csv", delimiter=',')

Получаем информацию по каждой из таблиц. И удаляем ненужные столбцы из них.
Информацию по переменным можно посмотреть тут: https://docs.google.com/document/d/1qYjopYc2cXhwd3tl_pw6eTSN3rB9Mp2kAwycnAYojAU/edit?usp=sharing

###### Таблица 01_Sovest.xlsx

In [7]:
sovest.head()

,RequestNum,RequestDate,PersonStatus,SignIP,FilialCode,Requeststatus,ProductName,FirstRequestDate,FirstStatusRequest,LastRequestDate,...,CreditLimit,Residence,ScoreFICO,CreditHistoryStopFactors,contractdate,kategoriya_marshrut,Dohod,Rashod,PTI,30+
0,0002_69__002171,2019-01-09,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,32779.95,город,NaN,0.0,NaT,Скоринг,25000.0,0.00,0.0000,1.0
1,0002_69__069920,2019-02-28,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,62066.84,город,549.0,0.0,NaT,Скоринг,70000.0,31053.86,0.4436,1.0
2,0002_69__062487,2019-02-24,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,57376.20,город,602.0,0.0,NaT,Скоринг,32000.0,0.00,0.0000,1.0
3,0002_69__051416,2019-02-17,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,50285.13,город,531.0,0.0,NaT,Скоринг,30000.0,900.20,0.0300,1.0
4,0002_69__029594,2019-02-01,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,55879.95,город,NaN,0.0,NaT,Скоринг,36000.0,0.00,0.0000,1.0

In [8]:
sovest.rename(columns={'RequestNum': 'APPLICID'}, inplace=True)
sovest.shape
sovest.info()
sovest.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56645 entries, 0 to 56644
Data columns (total 57 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   APPLICID                                                                      56645 non-null  object
 1   RequestDate                                                                   56645 non-null  datetime64[ns]
 2   PersonStatus                                                                  51782 non-null  object
 3   SignIP                                                                        0 non-null      float64
 4   FilialCode                                                                    56645 non-null  int64
 5   Requeststatus                                                                 56645 non-null  object
 6   ProductName                                                                   56645 non-null  object
 7   FirstRequestDate                                                              3164 non-null   datetime64[ns]
 8   FirstStatusRequest                                                            3164 non-null   object
 9   LastRequestDate                                                               1420 non-null   datetime64[ns]
 10  LastStatusRequest                                                             1420 non-null   object
 11  CreditSum                                                                     56645 non-null  float64
 12  ApprovedCreditSum                                                             56645 non-null  float64
 13  LimitType                                                                     56645 non-null  object
 14  sex                                                                           56645 non-null  object
 15  age                                                                           56645 non-null  int64
 16  AddressIdentical                                                              56645 non-null  object
 17  RegRegionName                                                                 56645 non-null  object
 18  RegSettlement                                                                 11386 non-null  object
 19  RegCity                                                                       47912 non-null  object
 20  PeriodOfRegionResidence                                                       56645 non-null  object
 21  FactRegionName                                                                56645 non-null  object
 22  FactSettlement                                                                7092 non-null   object
 23  FactCity                                                                      52295 non-null  object
 24  EducationStatus                                                               56645 non-null  object
 25  FamilyStatus                                                                  52359 non-null  object
 26  otrasl_rabotodatelya                                                          35428 non-null  object
 27  OrgStanding                                                                   56645 non-null  object
 28  IsBankWorker                                                                  56645 non-null  object
 29  HaveSalaryCard                                                                56645 non-null  object
 30  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  56645 non-null  object
 31  nalichie_dtp_za_poslednie_3_goda                                              56645 non-null  object
 32  kolichestvo_detej_mladshe_18                                                  56645 non-null  int64
 33  MonthlyIncome                                                                 56645 non-null  int64
 34  ConfirmedMonthlyIncome                                                        56645 non-null  float64
 35  SumOtherPayment                                                               56645 non-null  int64
 36  CountRequest                                                                  56645 non-null  int64
 37  NumberDay                                                                     1420 non-null   float64
 38  ProductNameLastRequest                                                        1420 non-null   object
 39  ProductPenultimateRequest                                                     483 non-null    object
 40  lastDateRejectRequest                                                         988 non-null    datetime64[ns]
 41  CountRejectRequestLastMonth                                                   56645 non-null  int64
 42  CountRejectRequestLast3Month                                                  56645 non-null  int64
 43  CountRejectRequestLast6Month                                                  56645 non-null  int64
 44  CountRejectRequestLast12Month                                                 56645 non-null  int64
 45  MontlyPaymentBKI                                                              37567 non-null  float64
 46  MontlyPaymentAbbCredit                                                        445 non-null    float64
 47  CreditLimit                                                                   56645 non-null  float64
 48  Residence                                                                     56645 non-null  object
 49  ScoreFICO                                                                     30132 non-null  float64
 50  CreditHistoryStopFactors                                                      43644 non-null  float64
 51  contractdate                                                                  3073 non-null   datetime64[ns]
 52  kategoriya_marshrut                                                           56645 non-null  object
 53  Dohod                                                                         56645 non-null  float64
 54  Rashod                                                                        56645 non-null  float64
 55  PTI                                                                           56644 non-null  float64
 56  30+                                                                           367 non-null    float64
dtypes: datetime64[ns](5), float64(14), int64(10), object(28)
memory usage: 24.6+ MB

True

In [9]:
sovest=sovest.drop(['SignIP', 'FilialCode', 'RequestDate', 'ProductName', 'PersonStatus', 'FirstRequestDate', 
                    'FirstStatusRequest', 'LastRequestDate', 'LastStatusRequest', 'Requeststatus', 
                    'ProductNameLastRequest', 'ProductPenultimateRequest', 'CreditSum', 'LimitType', 'RegSettlement', 
                    'RegRegionName', 'RegCity', 'PeriodOfRegionResidence', 'FactRegionName', 'FactSettlement', 
                    'otrasl_rabotodatelya', 'MonthlyIncome', 'ProductNameLastRequest', 'ProductPenultimateRequest', 
                    'MontlyPaymentBKI', 'MontlyPaymentAbbCredit', 'Residence', 'contractdate', 'kategoriya_marshrut',
                    'NumberDay', 'lastDateRejectRequest'], 
                   axis='columns')

In [10]:
sovest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56645 entries, 0 to 56644
Data columns (total 28 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   APPLICID                                                                      56645 non-null  object
 1   ApprovedCreditSum                                                             56645 non-null  float64
 2   sex                                                                           56645 non-null  object
 3   age                                                                           56645 non-null  int64
 4   AddressIdentical                                                              56645 non-null  object
 5   FactCity                                                                      52295 non-null  object
 6   EducationStatus                                                               56645 non-null  object
 7   FamilyStatus                                                                  52359 non-null  object
 8   OrgStanding                                                                   56645 non-null  object
 9   IsBankWorker                                                                  56645 non-null  object
 10  HaveSalaryCard                                                                56645 non-null  object
 11  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  56645 non-null  object
 12  nalichie_dtp_za_poslednie_3_goda                                              56645 non-null  object
 13  kolichestvo_detej_mladshe_18                                                  56645 non-null  int64
 14  ConfirmedMonthlyIncome                                                        56645 non-null  float64
 15  SumOtherPayment                                                               56645 non-null  int64
 16  CountRequest                                                                  56645 non-null  int64
 17  CountRejectRequestLastMonth                                                   56645 non-null  int64
 18  CountRejectRequestLast3Month                                                  56645 non-null  int64
 19  CountRejectRequestLast6Month                                                  56645 non-null  int64
 20  CountRejectRequestLast12Month                                                 56645 non-null  int64
 21  CreditLimit                                                                   56645 non-null  float64
 22  ScoreFICO                                                                     30132 non-null  float64
 23  CreditHistoryStopFactors                                                      43644 non-null  float64
 24  Dohod                                                                         56645 non-null  float64
 25  Rashod                                                                        56645 non-null  float64
 26  PTI                                                                           56644 non-null  float64
 27  30+                                                                           367 non-null    float64
dtypes: float64(9), int64(8), object(11)
memory usage: 12.1+ MB

###### Таблица 02_FPS.xlsx

In [11]:
fps.head()

,APPLICID,STRATEGYID,THETIMESTAMP,APPLICID.1,FPSID,MAINRULES,MAINSCOREVALUE
0,0002_69__000002,Sovest,2019-01-01 15:18:35.848,475e052d-4043-49a7-816b-a4831c399d58,8323,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,194
1,0002_69__000003,Sovest,2019-01-01 15:37:33.435,4ed6d76d-8d39-43d0-8702-a74ba7b4dcfe,8324,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,0
2,0002_69__000005,Sovest,2019-01-01 16:02:30.430,9b79a268-70a1-40ec-b7cb-c77edf040670,8325,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,0
3,0002_69__000006,Sovest,2019-01-01 17:25:00.716,a9fabe52-144f-4501-a34e-e12a61fe5178,8326,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,662
4,0002_69__000007,Sovest,2019-01-01 17:25:10.994,34c4be18-2953-4446-8ee2-46353a85831c,8327,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,114

In [12]:
fps.shape
fps.info()
fps.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26207 entries, 0 to 26206
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   APPLICID        26207 non-null  object
 1   STRATEGYID      26207 non-null  object
 2   THETIMESTAMP    26207 non-null  datetime64[ns]
 3   APPLICID.1      26207 non-null  object
 4   FPSID           26207 non-null  int64
 5   MAINRULES       26207 non-null  object
 6   MAINSCOREVALUE  26207 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 1.4+ MB

False

In [13]:
fps=fps.drop(['STRATEGYID', 'THETIMESTAMP', 'APPLICID.1', 'FPSID', 'MAINRULES'], axis='columns')

###### Таблица 04_AFS-1.xlsx и 04_AFS-2.xlsx
Эти таблицы содержат в себе много повторяющейся информации, необходимо: 
- Переопределить правила, назначив им вес
- Суммировать эти правила по ключу APPLICID
- Нормировать их сумму

Пока эти требования не будут выполнены, мы данные таблицы в анализе не используем

###### Таблица 06_geoval.csv

In [14]:
geoval.head()

,APPLICID,bad_address_home,is_home100_v1,is_home500_v1,is_home1000_v1,is_home2000_v1,is_home100_v2,is_home500_v2,is_home1000_v2,is_home2000_v2,bad_address_work,is_work100_v1,is_work500_v1,is_work1000_v1,is_work2000_v1,is_work100_v2,is_work500_v2,is_work1000_v2,is_work2000_v2
0,4585_01_6864_182400,0,1,1,1,1,1,1,1,1,0,1,0,0,0,1,0,0,0
1,4547_35_0274_182403,0,2,2,2,2,2,2,2,2,0,2,2,2,2,1,0,0,0
2,0039_35_5570_182404,0,2,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2
3,4585_62_6864_182412,0,2,2,2,2,1,0,0,0,0,2,2,2,2,2,2,2,2
4,4577_01_0526_182427,0,2,2,2,2,1,0,0,0,0,2,2,2,2,1,1,0,0

In [15]:
geoval.shape
geoval.info()
geoval.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191531 entries, 0 to 191530
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APPLICID          191531 non-null  object
 1   bad_address_home  191531 non-null  int64
 2   is_home100_v1     191531 non-null  int64
 3   is_home500_v1     191531 non-null  int64
 4   is_home1000_v1    191531 non-null  int64
 5   is_home2000_v1    191531 non-null  int64
 6   is_home100_v2     191531 non-null  int64
 7   is_home500_v2     191531 non-null  int64
 8   is_home1000_v2    191531 non-null  int64
 9   is_home2000_v2    191531 non-null  int64
 10  bad_address_work  191531 non-null  int64
 11  is_work100_v1     191531 non-null  int64
 12  is_work500_v1     191531 non-null  int64
 13  is_work1000_v1    191531 non-null  int64
 14  is_work2000_v1    191531 non-null  int64
 15  is_work100_v2     191531 non-null  int64
 16  is_work500_v2     191531 non-null  int64
 17  is_work1000_v2    191531 non-null  int64
 18  is_work2000_v2    191531 non-null  int64
dtypes: int64(18), object(1)
memory usage: 27.8+ MB

False

In [16]:
geoval=geoval.drop(['is_home100_v1', 'is_home500_v1', 'is_home1000_v1', 'is_home2000_v1', 'is_home100_v2', 'is_home500_v2', 
                    'is_home1000_v2', 'is_home2000_v2', 'is_work100_v1', 'is_work500_v1', 'is_work1000_v1', 'is_work2000_v1', 
                    'is_work100_v2', 'is_work500_v2', 'is_work1000_v2', 'is_work2000_v2'], axis='columns')

###### Таблица 07_score.csv

In [17]:
score.head()

,APPLICID,DATE_APP,SCORE,LIFETIME_BIN,BLOCK_DUR,BLOCK_CNT,CIRCLE,ALL_CLC,PAY_MAX
0,4585_01_6864_182400,2018-09-01,0.094670,5.0,0.0,0.0,5.0,2.0,3.0
1,4547_35_0274_182403,2018-09-01,0.058379,5.0,0.0,0.0,5.0,3.0,3.0
2,0039_35_5570_182404,2018-09-01,0.049330,5.0,0.0,0.0,3.0,1.0,3.0
3,4585_62_6864_182412,2018-09-01,0.131479,5.0,2.0,1.0,4.0,2.0,3.0
4,4577_01_0526_182427,2018-09-01,0.065897,5.0,0.0,0.0,5.0,3.0,3.0

In [18]:
score.shape
score.info()
score.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191531 entries, 0 to 191530
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   APPLICID      191531 non-null  object
 1   DATE_APP      191531 non-null  object
 2   SCORE         191531 non-null  float64
 3   LIFETIME_BIN  191531 non-null  float64
 4   BLOCK_DUR     191531 non-null  float64
 5   BLOCK_CNT     191531 non-null  float64
 6   CIRCLE        191531 non-null  float64
 7   ALL_CLC       191531 non-null  float64
 8   PAY_MAX       191531 non-null  float64
dtypes: float64(7), object(2)
memory usage: 13.2+ MB

False

In [19]:
score=score.drop(['DATE_APP'], axis='columns')

###### Таблица 08_bd_score.csv

In [20]:
bd_score.head()

              APPLICID DATE_OF_BIRTH  score_binary  score_proba
0  0003_62_7630_185097    1965-09-04             0     0.250473
1  0078_35_0763_184321    1988-06-20             0     0.393628
2  9316_01_6621_185186    1970-01-25             0     0.454605
3  0039_01_4989_188062    1991-02-08             0     0.331633
4   0288_01_879_187973    1979-01-29             0     0.176938

In [21]:
bd_score.shape
bd_score.info()
bd_score.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189510 entries, 0 to 189509
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   APPLICID       189510 non-null  object
 1   DATE_OF_BIRTH  189510 non-null  object
 2   score_binary   189510 non-null  int64
 3   score_proba    152910 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.8+ MB

True

In [22]:
bd_score=bd_score.drop(['DATE_OF_BIRTH'], axis='columns')

Объединяем таблицы в одну

In [23]:
result=pd.merge(sovest, fps, on=('APPLICID'), how='left')
result=pd.merge(result, score, on=('APPLICID'), how='left')
result=pd.merge(result, geoval, on=('APPLICID'), how='left')
result=pd.merge(result, bd_score, on=('APPLICID'), how='left')

In [24]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56646 entries, 0 to 56645
Data columns (total 40 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   APPLICID                                                                      56646 non-null  object
 1   ApprovedCreditSum                                                             56646 non-null  float64
 2   sex                                                                           56646 non-null  object
 3   age                                                                           56646 non-null  int64
 4   AddressIdentical                                                              56646 non-null  object
 5   FactCity                                                                      52296 non-null  object
 6   EducationStatus                                                               56646 non-null  object
 7   FamilyStatus                                                                  52360 non-null  object
 8   OrgStanding                                                                   56646 non-null  object
 9   IsBankWorker                                                                  56646 non-null  object
 10  HaveSalaryCard                                                                56646 non-null  object
 11  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  56646 non-null  object
 12  nalichie_dtp_za_poslednie_3_goda                                              56646 non-null  object
 13  kolichestvo_detej_mladshe_18                                                  56646 non-null  int64
 14  ConfirmedMonthlyIncome                                                        56646 non-null  float64
 15  SumOtherPayment                                                               56646 non-null  int64
 16  CountRequest                                                                  56646 non-null  int64
 17  CountRejectRequestLastMonth                                                   56646 non-null  int64
 18  CountRejectRequestLast3Month                                                  56646 non-null  int64
 19  CountRejectRequestLast6Month                                                  56646 non-null  int64
 20  CountRejectRequestLast12Month                                                 56646 non-null  int64
 21  CreditLimit                                                                   56646 non-null  float64
 22  ScoreFICO                                                                     30132 non-null  float64
 23  CreditHistoryStopFactors                                                      43645 non-null  float64
 24  Dohod                                                                         56646 non-null  float64
 25  Rashod                                                                        56646 non-null  float64
 26  PTI                                                                           56645 non-null  float64
 27  30+                                                                           367 non-null    float64
 28  MAINSCOREVALUE                                                                26207 non-null  float64
 29  SCORE                                                                         56634 non-null  float64
 30  LIFETIME_BIN                                                                  56634 non-null  float64
 31  BLOCK_DUR                                                                     56634 non-null  float64
 32  BLOCK_CNT                                                                     56634 non-null  float64
 33  CIRCLE                                                                        56634 non-null  float64
 34  ALL_CLC                                                                       56634 non-null  float64
 35  PAY_MAX                                                                       56634 non-null  float64
 36  bad_address_home                                                              56634 non-null  float64
 37  bad_address_work                                                              56634 non-null  float64
 38  score_binary                                                                  56380 non-null  float64
 39  score_proba                                                                   43122 non-null  float64
dtypes: float64(21), int64(8), object(11)
memory usage: 17.7+ MB

In [25]:
result.to_excel('result.xlsx', index=False)

Далее будет выполняться нормировка, стандартизация и дискретизация данных для последующего анализа