In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

Импортируем таблицы

In [2]:
sovest=pd.read_excel("C:/Users/Ренат/Desktop/Project/01_Sovest.xlsx")

In [3]:
fps=pd.read_excel("C:/Users/Ренат/Desktop/Project/02_FPS.xlsx")

In [4]:
afs_1_1=pd.read_excel("C:/Users/Ренат/Desktop/Project/04_AFS-1.xlsx", 'list-1')

In [5]:
afs_1_2=pd.read_excel("C:/Users/Ренат/Desktop/Project/04_AFS-1.xlsx", 'list-2')

In [6]:
afs_2=pd.read_excel("C:/Users/Ренат/Desktop/Project/04_AFS-2.xlsx")

In [7]:
geoval=pd.read_csv("C:/Users/Ренат/Desktop/Project/06_geoval.csv", delimiter=',')

In [8]:
score=pd.read_csv("C:/Users/Ренат/Desktop/Project/07_score.csv", delimiter=',')

In [9]:
bd_score=pd.read_csv("C:/Users/Ренат/Desktop/Project/08_bd_score.csv", delimiter=',')

Соединим таблицу AFS (она разбита на несколько таблиц)

In [10]:
afs_1=afs_1_1.append(afs_1_2)
afs=afs_1.append(afs_2)

Получаем информацию по каждой из таблиц

Таблица 01_Sovest.xlsx

In [11]:
sovest.head()

,RequestNum,RequestDate,PersonStatus,SignIP,FilialCode,Requeststatus,ProductName,FirstRequestDate,FirstStatusRequest,LastRequestDate,...,CreditLimit,Residence,ScoreFICO,CreditHistoryStopFactors,contractdate,kategoriya_marshrut,Dohod,Rashod,PTI,30+
0,0002_69__002171,2019-01-09,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,32779.95,город,NaN,0.0,NaT,Скоринг,25000.0,0.00,0.0000,1.0
1,0002_69__069920,2019-02-28,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,62066.84,город,549.0,0.0,NaT,Скоринг,70000.0,31053.86,0.4436,1.0
2,0002_69__062487,2019-02-24,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,57376.20,город,602.0,0.0,NaT,Скоринг,32000.0,0.00,0.0000,1.0
3,0002_69__051416,2019-02-17,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,50285.13,город,531.0,0.0,NaT,Скоринг,30000.0,900.20,0.0300,1.0
4,0002_69__029594,2019-02-01,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,55879.95,город,NaN,0.0,NaT,Скоринг,36000.0,0.00,0.0000,1.0

In [12]:
sovest.rename(columns={'RequestNum': 'APPLICID'}, inplace=True)
sovest.shape
sovest.info()
sovest.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56645 entries, 0 to 56644
Data columns (total 57 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   APPLICID                                                                      56645 non-null  object
 1   RequestDate                                                                   56645 non-null  datetime64[ns]
 2   PersonStatus                                                                  51782 non-null  object
 3   SignIP                                                                        0 non-null      float64
 4   FilialCode                                                                    56645 non-null  int64
 5   Requeststatus                                                                 56645 non-null  object
 6   ProductName                                                                   56645 non-null  object
 7   FirstRequestDate                                                              3164 non-null   datetime64[ns]
 8   FirstStatusRequest                                                            3164 non-null   object
 9   LastRequestDate                                                               1420 non-null   datetime64[ns]
 10  LastStatusRequest                                                             1420 non-null   object
 11  CreditSum                                                                     56645 non-null  float64
 12  ApprovedCreditSum                                                             56645 non-null  float64
 13  LimitType                                                                     56645 non-null  object
 14  sex                                                                           56645 non-null  object
 15  age                                                                           56645 non-null  int64
 16  AddressIdentical                                                              56645 non-null  object
 17  RegRegionName                                                                 56645 non-null  object
 18  RegSettlement                                                                 11386 non-null  object
 19  RegCity                                                                       47912 non-null  object
 20  PeriodOfRegionResidence                                                       56645 non-null  object
 21  FactRegionName                                                                56645 non-null  object
 22  FactSettlement                                                                7092 non-null   object
 23  FactCity                                                                      52295 non-null  object
 24  EducationStatus                                                               56645 non-null  object
 25  FamilyStatus                                                                  52359 non-null  object
 26  otrasl_rabotodatelya                                                          35428 non-null  object
 27  OrgStanding                                                                   56645 non-null  object
 28  IsBankWorker                                                                  56645 non-null  object
 29  HaveSalaryCard                                                                56645 non-null  object
 30  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  56645 non-null  object
 31  nalichie_dtp_za_poslednie_3_goda                                              56645 non-null  object
 32  kolichestvo_detej_mladshe_18                                                  56645 non-null  int64
 33  MonthlyIncome                                                                 56645 non-null  int64
 34  ConfirmedMonthlyIncome                                                        56645 non-null  float64
 35  SumOtherPayment                                                               56645 non-null  int64
 36  CountRequest                                                                  56645 non-null  int64
 37  NumberDay                                                                     1420 non-null   float64
 38  ProductNameLastRequest                                                        1420 non-null   object
 39  ProductPenultimateRequest                                                     483 non-null    object
 40  lastDateRejectRequest                                                         988 non-null    datetime64[ns]
 41  CountRejectRequestLastMonth                                                   56645 non-null  int64
 42  CountRejectRequestLast3Month                                                  56645 non-null  int64
 43  CountRejectRequestLast6Month                                                  56645 non-null  int64
 44  CountRejectRequestLast12Month                                                 56645 non-null  int64
 45  MontlyPaymentBKI                                                              37567 non-null  float64
 46  MontlyPaymentAbbCredit                                                        445 non-null    float64
 47  CreditLimit                                                                   56645 non-null  float64
 48  Residence                                                                     56645 non-null  object
 49  ScoreFICO                                                                     30132 non-null  float64
 50  CreditHistoryStopFactors                                                      43644 non-null  float64
 51  contractdate                                                                  3073 non-null   datetime64[ns]
 52  kategoriya_marshrut                                                           56645 non-null  object
 53  Dohod                                                                         56645 non-null  float64
 54  Rashod                                                                        56645 non-null  float64
 55  PTI                                                                           56644 non-null  float64
 56  30+                                                                           367 non-null    float64
dtypes: datetime64[ns](5), float64(14), int64(10), object(28)
memory usage: 24.6+ MB

True

Таблица 02_FPS.xlsx

In [13]:
fps.head()

,APPLICID,STRATEGYID,THETIMESTAMP,APPLICID.1,FPSID,MAINRULES,MAINSCOREVALUE
0,0002_69__000002,Sovest,2019-01-01 15:18:35.848,475e052d-4043-49a7-816b-a4831c399d58,8323,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,194
1,0002_69__000003,Sovest,2019-01-01 15:37:33.435,4ed6d76d-8d39-43d0-8702-a74ba7b4dcfe,8324,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,0
2,0002_69__000005,Sovest,2019-01-01 16:02:30.430,9b79a268-70a1-40ec-b7cb-c77edf040670,8325,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,0
3,0002_69__000006,Sovest,2019-01-01 17:25:00.716,a9fabe52-144f-4501-a34e-e12a61fe5178,8326,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,662
4,0002_69__000007,Sovest,2019-01-01 17:25:10.994,34c4be18-2953-4446-8ee2-46353a85831c,8327,1.11=>0;1.12=>0;1.13=>0;1.14=>0;1.15=>0;1.16=>...,114

In [14]:
fps.shape
fps.info()
fps.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26207 entries, 0 to 26206
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   APPLICID        26207 non-null  object
 1   STRATEGYID      26207 non-null  object
 2   THETIMESTAMP    26207 non-null  datetime64[ns]
 3   APPLICID.1      26207 non-null  object
 4   FPSID           26207 non-null  int64
 5   MAINRULES       26207 non-null  object
 6   MAINSCOREVALUE  26207 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 1.4+ MB

False

Таблица 04_AFS-1.xlsx и 04_AFS-2.xlsx

In [15]:
afs.head()

,APPLICID,APPLICID-2,STRATEGYID,THETIMESTAMP,MATCH_SEQ,APPID,RULE,APPVERSION
0,0002_69__000002,475e052d-4043-49a7-816b-a4831c399d58,Sovest,2019-01-01 15:18:35.848,4,9c1bb85b960424663d41fffa523891a5,RULE_93_2,NaN
1,0002_69__000002,475e052d-4043-49a7-816b-a4831c399d58,Sovest,2019-01-01 15:18:35.848,3,a7e71e68384a6171531d3cb43380e0a5,RULE_19_2,NaN
2,0002_69__000002,475e052d-4043-49a7-816b-a4831c399d58,Sovest,2019-01-01 15:18:35.848,2,25233236,RULE_16_2,NaN
3,0002_69__000002,475e052d-4043-49a7-816b-a4831c399d58,Sovest,2019-01-01 15:18:35.848,1,25233236,RULE_14_2,NaN
4,0002_69__000002,475e052d-4043-49a7-816b-a4831c399d58,Sovest,2019-01-01 15:18:35.848,8,25233236,RULE_134_2,NaN

In [16]:
afs.shape
afs.info()
afs.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1649823 entries, 0 to 607480
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   APPLICID      1649823 non-null  object
 1   APPLICID-2    1649823 non-null  object
 2   STRATEGYID    1649823 non-null  object
 3   THETIMESTAMP  1649823 non-null  datetime64[ns]
 4   MATCH_SEQ     1649823 non-null  int64
 5   APPID         1649823 non-null  object
 6   RULE          1649823 non-null  object
 7   APPVERSION    607481 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 113.3+ MB

True

Таблица 06_geoval.csv

In [17]:
geoval.head()

,APPLICID,bad_address_home,is_home100_v1,is_home500_v1,is_home1000_v1,is_home2000_v1,is_home100_v2,is_home500_v2,is_home1000_v2,is_home2000_v2,bad_address_work,is_work100_v1,is_work500_v1,is_work1000_v1,is_work2000_v1,is_work100_v2,is_work500_v2,is_work1000_v2,is_work2000_v2
0,4585_01_6864_182400,0,1,1,1,1,1,1,1,1,0,1,0,0,0,1,0,0,0
1,4547_35_0274_182403,0,2,2,2,2,2,2,2,2,0,2,2,2,2,1,0,0,0
2,0039_35_5570_182404,0,2,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2
3,4585_62_6864_182412,0,2,2,2,2,1,0,0,0,0,2,2,2,2,2,2,2,2
4,4577_01_0526_182427,0,2,2,2,2,1,0,0,0,0,2,2,2,2,1,1,0,0

In [18]:
geoval.shape
geoval.info()
geoval.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191531 entries, 0 to 191530
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APPLICID          191531 non-null  object
 1   bad_address_home  191531 non-null  int64
 2   is_home100_v1     191531 non-null  int64
 3   is_home500_v1     191531 non-null  int64
 4   is_home1000_v1    191531 non-null  int64
 5   is_home2000_v1    191531 non-null  int64
 6   is_home100_v2     191531 non-null  int64
 7   is_home500_v2     191531 non-null  int64
 8   is_home1000_v2    191531 non-null  int64
 9   is_home2000_v2    191531 non-null  int64
 10  bad_address_work  191531 non-null  int64
 11  is_work100_v1     191531 non-null  int64
 12  is_work500_v1     191531 non-null  int64
 13  is_work1000_v1    191531 non-null  int64
 14  is_work2000_v1    191531 non-null  int64
 15  is_work100_v2     191531 non-null  int64
 16  is_work500_v2     191531 non-null  int64
 17  is_work1000_v2    191531 non-null  int64
 18  is_work2000_v2    191531 non-null  int64
dtypes: int64(18), object(1)
memory usage: 27.8+ MB

False

Таблица 07_score.csv

In [19]:
score.head()

,APPLICID,DATE_APP,SCORE,LIFETIME_BIN,BLOCK_DUR,BLOCK_CNT,CIRCLE,ALL_CLC,PAY_MAX
0,4585_01_6864_182400,2018-09-01,0.094670,5.0,0.0,0.0,5.0,2.0,3.0
1,4547_35_0274_182403,2018-09-01,0.058379,5.0,0.0,0.0,5.0,3.0,3.0
2,0039_35_5570_182404,2018-09-01,0.049330,5.0,0.0,0.0,3.0,1.0,3.0
3,4585_62_6864_182412,2018-09-01,0.131479,5.0,2.0,1.0,4.0,2.0,3.0
4,4577_01_0526_182427,2018-09-01,0.065897,5.0,0.0,0.0,5.0,3.0,3.0

In [20]:
score.shape
score.info()
score.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191531 entries, 0 to 191530
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   APPLICID      191531 non-null  object
 1   DATE_APP      191531 non-null  object
 2   SCORE         191531 non-null  float64
 3   LIFETIME_BIN  191531 non-null  float64
 4   BLOCK_DUR     191531 non-null  float64
 5   BLOCK_CNT     191531 non-null  float64
 6   CIRCLE        191531 non-null  float64
 7   ALL_CLC       191531 non-null  float64
 8   PAY_MAX       191531 non-null  float64
dtypes: float64(7), object(2)
memory usage: 13.2+ MB

False

Таблица 08_bd_score.csv

In [21]:
bd_score.head()

              APPLICID DATE_OF_BIRTH  score_binary  score_proba
0  0003_62_7630_185097    1965-09-04             0     0.250473
1  0078_35_0763_184321    1988-06-20             0     0.393628
2  9316_01_6621_185186    1970-01-25             0     0.454605
3  0039_01_4989_188062    1991-02-08             0     0.331633
4   0288_01_879_187973    1979-01-29             0     0.176938

In [22]:
bd_score.shape
bd_score.info()
bd_score.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189510 entries, 0 to 189509
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   APPLICID       189510 non-null  object
 1   DATE_OF_BIRTH  189510 non-null  object
 2   score_binary   189510 non-null  int64
 3   score_proba    152910 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.8+ MB

True

Объединяем таблицы в одну

In [23]:
afs_d=afs.drop(['STRATEGYID', 'THETIMESTAMP', 'APPVERSION'], axis='columns')

In [24]:
result=pd.merge(sovest, fps, on=('APPLICID'), how='inner')
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26207 entries, 0 to 26206
Data columns (total 63 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   APPLICID                                                                      26207 non-null  object
 1   RequestDate                                                                   26207 non-null  datetime64[ns]
 2   PersonStatus                                                                  21353 non-null  object
 3   SignIP                                                                        0 non-null      float64
 4   FilialCode                                                                    26207 non-null  int64
 5   Requeststatus                                                                 26207 non-null  object
 6   ProductName                                                                   26207 non-null  object
 7   FirstRequestDate                                                              981 non-null    datetime64[ns]
 8   FirstStatusRequest                                                            981 non-null    object
 9   LastRequestDate                                                               481 non-null    datetime64[ns]
 10  LastStatusRequest                                                             481 non-null    object
 11  CreditSum                                                                     26207 non-null  float64
 12  ApprovedCreditSum                                                             26207 non-null  float64
 13  LimitType                                                                     26207 non-null  object
 14  sex                                                                           26207 non-null  object
 15  age                                                                           26207 non-null  int64
 16  AddressIdentical                                                              26207 non-null  object
 17  RegRegionName                                                                 26207 non-null  object
 18  RegSettlement                                                                 4689 non-null   object
 19  RegCity                                                                       22789 non-null  object
 20  PeriodOfRegionResidence                                                       26207 non-null  object
 21  FactRegionName                                                                26207 non-null  object
 22  FactSettlement                                                                3038 non-null   object
 23  FactCity                                                                      24483 non-null  object
 24  EducationStatus                                                               26207 non-null  object
 25  FamilyStatus                                                                  24544 non-null  object
 26  otrasl_rabotodatelya                                                          16320 non-null  object
 27  OrgStanding                                                                   26207 non-null  object
 28  IsBankWorker                                                                  26207 non-null  object
 29  HaveSalaryCard                                                                26207 non-null  object
 30  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  26207 non-null  object
 31  nalichie_dtp_za_poslednie_3_goda                                              26207 non-null  object
 32  kolichestvo_detej_mladshe_18                                                  26207 non-null  int64
 33  MonthlyIncome                                                                 26207 non-null  int64
 34  ConfirmedMonthlyIncome                                                        26207 non-null  float64
 35  SumOtherPayment                                                               26207 non-null  int64
 36  CountRequest                                                                  26207 non-null  int64
 37  NumberDay                                                                     481 non-null    float64
 38  ProductNameLastRequest                                                        481 non-null    object
 39  ProductPenultimateRequest                                                     176 non-null    object
 40  lastDateRejectRequest                                                         291 non-null    datetime64[ns]
 41  CountRejectRequestLastMonth                                                   26207 non-null  int64
 42  CountRejectRequestLast3Month                                                  26207 non-null  int64
 43  CountRejectRequestLast6Month                                                  26207 non-null  int64
 44  CountRejectRequestLast12Month                                                 26207 non-null  int64
 45  MontlyPaymentBKI                                                              21810 non-null  float64
 46  MontlyPaymentAbbCredit                                                        201 non-null    float64
 47  CreditLimit                                                                   26207 non-null  float64
 48  Residence                                                                     26207 non-null  object
 49  ScoreFICO                                                                     20311 non-null  float64
 50  CreditHistoryStopFactors                                                      26207 non-null  float64
 51  contractdate                                                                  3073 non-null   datetime64[ns]
 52  kategoriya_marshrut                                                           26207 non-null  object
 53  Dohod                                                                         26207 non-null  float64
 54  Rashod                                                                        26207 non-null  float64
 55  PTI                                                                           26207 non-null  float64
 56  30+                                                                           367 non-null    float64
 57  STRATEGYID                                                                    26207 non-null  object
 58  THETIMESTAMP                                                                  26207 non-null  datetime64[ns]
 59  APPLICID.1                                                                    26207 non-null  object
 60  FPSID                                                                         26207 non-null  int64
 61  MAINRULES                                                                     26207 non-null  object
 62  MAINSCOREVALUE                                                                26207 non-null  int64
dtypes: datetime64[ns](6), float64(14), int64(12), object(31)
memory usage: 12.8+ MB

In [25]:
result=pd.merge(result, afs_d, on=('APPLICID'), how='inner')
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1649843 entries, 0 to 1649842
Data columns (total 67 columns):
 #   Column                                                                        Non-Null Count    Dtype
---  ------                                                                        --------------    -----
 0   APPLICID                                                                      1649843 non-null  object
 1   RequestDate                                                                   1649843 non-null  datetime64[ns]
 2   PersonStatus                                                                  1340188 non-null  object
 3   SignIP                                                                        0 non-null        float64
 4   FilialCode                                                                    1649843 non-null  int64
 5   Requeststatus                                                                 1649843 non-null  object
 6   ProductName                                                                   1649843 non-null  object
 7   FirstRequestDate                                                              59630 non-null    datetime64[ns]
 8   FirstStatusRequest                                                            59630 non-null    object
 9   LastRequestDate                                                               28596 non-null    datetime64[ns]
 10  LastStatusRequest                                                             28596 non-null    object
 11  CreditSum                                                                     1649843 non-null  float64
 12  ApprovedCreditSum                                                             1649843 non-null  float64
 13  LimitType                                                                     1649843 non-null  object
 14  sex                                                                           1649843 non-null  object
 15  age                                                                           1649843 non-null  int64
 16  AddressIdentical                                                              1649843 non-null  object
 17  RegRegionName                                                                 1649843 non-null  object
 18  RegSettlement                                                                 256403 non-null   object
 19  RegCity                                                                       1463146 non-null  object
 20  PeriodOfRegionResidence                                                       1649843 non-null  object
 21  FactRegionName                                                                1649843 non-null  object
 22  FactSettlement                                                                136572 non-null   object
 23  FactCity                                                                      1579286 non-null  object
 24  EducationStatus                                                               1649843 non-null  object
 25  FamilyStatus                                                                  1555048 non-null  object
 26  otrasl_rabotodatelya                                                          1105094 non-null  object
 27  OrgStanding                                                                   1649843 non-null  object
 28  IsBankWorker                                                                  1649843 non-null  object
 29  HaveSalaryCard                                                                1649843 non-null  object
 30  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  1649843 non-null  object
 31  nalichie_dtp_za_poslednie_3_goda                                              1649843 non-null  object
 32  kolichestvo_detej_mladshe_18                                                  1649843 non-null  int64
 33  MonthlyIncome                                                                 1649843 non-null  int64
 34  ConfirmedMonthlyIncome                                                        1649843 non-null  float64
 35  SumOtherPayment                                                               1649843 non-null  int64
 36  CountRequest                                                                  1649843 non-null  int64
 37  NumberDay                                                                     28596 non-null    float64
 38  ProductNameLastRequest                                                        28596 non-null    object
 39  ProductPenultimateRequest                                                     11515 non-null    object
 40  lastDateRejectRequest                                                         15590 non-null    datetime64[ns]
 41  CountRejectRequestLastMonth                                                   1649843 non-null  int64
 42  CountRejectRequestLast3Month                                                  1649843 non-null  int64
 43  CountRejectRequestLast6Month                                                  1649843 non-null  int64
 44  CountRejectRequestLast12Month                                                 1649843 non-null  int64
 45  MontlyPaymentBKI                                                              1358070 non-null  float64
 46  MontlyPaymentAbbCredit                                                        13099 non-null    float64
 47  CreditLimit                                                                   1649843 non-null  float64
 48  Residence                                                                     1649843 non-null  object
 49  ScoreFICO                                                                     1263610 non-null  float64
 50  CreditHistoryStopFactors                                                      1649843 non-null  float64
 51  contractdate                                                                  186797 non-null   datetime64[ns]
 52  kategoriya_marshrut                                                           1649843 non-null  object
 53  Dohod                                                                         1649843 non-null  float64
 54  Rashod                                                                        1649843 non-null  float64
 55  PTI                                                                           1649843 non-null  float64
 56  30+                                                                           27897 non-null    float64
 57  STRATEGYID                                                                    1649843 non-null  object
 58  THETIMESTAMP                                                                  1649843 non-null  datetime64[ns]
 59  APPLICID.1                                                                    1649843 non-null  object
 60  FPSID                                                                         1649843 non-null  int64
 61  MAINRULES                                                                     1649843 non-null  object
 62  MAINSCOREVALUE                                                                1649843 non-null  int64
 63  APPLICID-2                                                                    1649843 non-null  object
 64  MATCH_SEQ                                                                     1649843 non-null  int64
 65  APPID                                                                         1649843 non-null  object
 66  RULE                                                                          1649843 non-null  object
dtypes: datetime64[ns](6), float64(14), int64(13), object(34)
memory usage: 855.9+ MB

In [26]:
result=pd.merge(result, score, on=('APPLICID'), how='inner')
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1649807 entries, 0 to 1649806
Data columns (total 75 columns):
 #   Column                                                                        Non-Null Count    Dtype
---  ------                                                                        --------------    -----
 0   APPLICID                                                                      1649807 non-null  object
 1   RequestDate                                                                   1649807 non-null  datetime64[ns]
 2   PersonStatus                                                                  1340152 non-null  object
 3   SignIP                                                                        0 non-null        float64
 4   FilialCode                                                                    1649807 non-null  int64
 5   Requeststatus                                                                 1649807 non-null  object
 6   ProductName                                                                   1649807 non-null  object
 7   FirstRequestDate                                                              59630 non-null    datetime64[ns]
 8   FirstStatusRequest                                                            59630 non-null    object
 9   LastRequestDate                                                               28596 non-null    datetime64[ns]
 10  LastStatusRequest                                                             28596 non-null    object
 11  CreditSum                                                                     1649807 non-null  float64
 12  ApprovedCreditSum                                                             1649807 non-null  float64
 13  LimitType                                                                     1649807 non-null  object
 14  sex                                                                           1649807 non-null  object
 15  age                                                                           1649807 non-null  int64
 16  AddressIdentical                                                              1649807 non-null  object
 17  RegRegionName                                                                 1649807 non-null  object
 18  RegSettlement                                                                 256390 non-null   object
 19  RegCity                                                                       1463110 non-null  object
 20  PeriodOfRegionResidence                                                       1649807 non-null  object
 21  FactRegionName                                                                1649807 non-null  object
 22  FactSettlement                                                                136559 non-null   object
 23  FactCity                                                                      1579250 non-null  object
 24  EducationStatus                                                               1649807 non-null  object
 25  FamilyStatus                                                                  1555012 non-null  object
 26  otrasl_rabotodatelya                                                          1105081 non-null  object
 27  OrgStanding                                                                   1649807 non-null  object
 28  IsBankWorker                                                                  1649807 non-null  object
 29  HaveSalaryCard                                                                1649807 non-null  object
 30  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  1649807 non-null  object
 31  nalichie_dtp_za_poslednie_3_goda                                              1649807 non-null  object
 32  kolichestvo_detej_mladshe_18                                                  1649807 non-null  int64
 33  MonthlyIncome                                                                 1649807 non-null  int64
 34  ConfirmedMonthlyIncome                                                        1649807 non-null  float64
 35  SumOtherPayment                                                               1649807 non-null  int64
 36  CountRequest                                                                  1649807 non-null  int64
 37  NumberDay                                                                     28596 non-null    float64
 38  ProductNameLastRequest                                                        28596 non-null    object
 39  ProductPenultimateRequest                                                     11515 non-null    object
 40  lastDateRejectRequest                                                         15590 non-null    datetime64[ns]
 41  CountRejectRequestLastMonth                                                   1649807 non-null  int64
 42  CountRejectRequestLast3Month                                                  1649807 non-null  int64
 43  CountRejectRequestLast6Month                                                  1649807 non-null  int64
 44  CountRejectRequestLast12Month                                                 1649807 non-null  int64
 45  MontlyPaymentBKI                                                              1358039 non-null  float64
 46  MontlyPaymentAbbCredit                                                        13099 non-null    float64
 47  CreditLimit                                                                   1649807 non-null  float64
 48  Residence                                                                     1649807 non-null  object
 49  ScoreFICO                                                                     1263579 non-null  float64
 50  CreditHistoryStopFactors                                                      1649807 non-null  float64
 51  contractdate                                                                  186797 non-null   datetime64[ns]
 52  kategoriya_marshrut                                                           1649807 non-null  object
 53  Dohod                                                                         1649807 non-null  float64
 54  Rashod                                                                        1649807 non-null  float64
 55  PTI                                                                           1649807 non-null  float64
 56  30+                                                                           27897 non-null    float64
 57  STRATEGYID                                                                    1649807 non-null  object
 58  THETIMESTAMP                                                                  1649807 non-null  datetime64[ns]
 59  APPLICID.1                                                                    1649807 non-null  object
 60  FPSID                                                                         1649807 non-null  int64
 61  MAINRULES                                                                     1649807 non-null  object
 62  MAINSCOREVALUE                                                                1649807 non-null  int64
 63  APPLICID-2                                                                    1649807 non-null  object
 64  MATCH_SEQ                                                                     1649807 non-null  int64
 65  APPID                                                                         1649807 non-null  object
 66  RULE                                                                          1649807 non-null  object
 67  DATE_APP                                                                      1649807 non-null  object
 68  SCORE                                                                         1649807 non-null  float64
 69  LIFETIME_BIN                                                                  1649807 non-null  float64
 70  BLOCK_DUR                                                                     1649807 non-null  float64
 71  BLOCK_CNT                                                                     1649807 non-null  float64
 72  CIRCLE                                                                        1649807 non-null  float64
 73  ALL_CLC                                                                       1649807 non-null  float64
 74  PAY_MAX                                                                       1649807 non-null  float64
dtypes: datetime64[ns](6), float64(21), int64(13), object(35)
memory usage: 956.6+ MB

In [27]:
result=pd.merge(result, geoval, on=('APPLICID'), how='inner')
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1649807 entries, 0 to 1649806
Data columns (total 93 columns):
 #   Column                                                                        Non-Null Count    Dtype
---  ------                                                                        --------------    -----
 0   APPLICID                                                                      1649807 non-null  object
 1   RequestDate                                                                   1649807 non-null  datetime64[ns]
 2   PersonStatus                                                                  1340152 non-null  object
 3   SignIP                                                                        0 non-null        float64
 4   FilialCode                                                                    1649807 non-null  int64
 5   Requeststatus                                                                 1649807 non-null  object
 6   ProductName                                                                   1649807 non-null  object
 7   FirstRequestDate                                                              59630 non-null    datetime64[ns]
 8   FirstStatusRequest                                                            59630 non-null    object
 9   LastRequestDate                                                               28596 non-null    datetime64[ns]
 10  LastStatusRequest                                                             28596 non-null    object
 11  CreditSum                                                                     1649807 non-null  float64
 12  ApprovedCreditSum                                                             1649807 non-null  float64
 13  LimitType                                                                     1649807 non-null  object
 14  sex                                                                           1649807 non-null  object
 15  age                                                                           1649807 non-null  int64
 16  AddressIdentical                                                              1649807 non-null  object
 17  RegRegionName                                                                 1649807 non-null  object
 18  RegSettlement                                                                 256390 non-null   object
 19  RegCity                                                                       1463110 non-null  object
 20  PeriodOfRegionResidence                                                       1649807 non-null  object
 21  FactRegionName                                                                1649807 non-null  object
 22  FactSettlement                                                                136559 non-null   object
 23  FactCity                                                                      1579250 non-null  object
 24  EducationStatus                                                               1649807 non-null  object
 25  FamilyStatus                                                                  1555012 non-null  object
 26  otrasl_rabotodatelya                                                          1105081 non-null  object
 27  OrgStanding                                                                   1649807 non-null  object
 28  IsBankWorker                                                                  1649807 non-null  object
 29  HaveSalaryCard                                                                1649807 non-null  object
 30  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  1649807 non-null  object
 31  nalichie_dtp_za_poslednie_3_goda                                              1649807 non-null  object
 32  kolichestvo_detej_mladshe_18                                                  1649807 non-null  int64
 33  MonthlyIncome                                                                 1649807 non-null  int64
 34  ConfirmedMonthlyIncome                                                        1649807 non-null  float64
 35  SumOtherPayment                                                               1649807 non-null  int64
 36  CountRequest                                                                  1649807 non-null  int64
 37  NumberDay                                                                     28596 non-null    float64
 38  ProductNameLastRequest                                                        28596 non-null    object
 39  ProductPenultimateRequest                                                     11515 non-null    object
 40  lastDateRejectRequest                                                         15590 non-null    datetime64[ns]
 41  CountRejectRequestLastMonth                                                   1649807 non-null  int64
 42  CountRejectRequestLast3Month                                                  1649807 non-null  int64
 43  CountRejectRequestLast6Month                                                  1649807 non-null  int64
 44  CountRejectRequestLast12Month                                                 1649807 non-null  int64
 45  MontlyPaymentBKI                                                              1358039 non-null  float64
 46  MontlyPaymentAbbCredit                                                        13099 non-null    float64
 47  CreditLimit                                                                   1649807 non-null  float64
 48  Residence                                                                     1649807 non-null  object
 49  ScoreFICO                                                                     1263579 non-null  float64
 50  CreditHistoryStopFactors                                                      1649807 non-null  float64
 51  contractdate                                                                  186797 non-null   datetime64[ns]
 52  kategoriya_marshrut                                                           1649807 non-null  object
 53  Dohod                                                                         1649807 non-null  float64
 54  Rashod                                                                        1649807 non-null  float64
 55  PTI                                                                           1649807 non-null  float64
 56  30+                                                                           27897 non-null    float64
 57  STRATEGYID                                                                    1649807 non-null  object
 58  THETIMESTAMP                                                                  1649807 non-null  datetime64[ns]
 59  APPLICID.1                                                                    1649807 non-null  object
 60  FPSID                                                                         1649807 non-null  int64
 61  MAINRULES                                                                     1649807 non-null  object
 62  MAINSCOREVALUE                                                                1649807 non-null  int64
 63  APPLICID-2                                                                    1649807 non-null  object
 64  MATCH_SEQ                                                                     1649807 non-null  int64
 65  APPID                                                                         1649807 non-null  object
 66  RULE                                                                          1649807 non-null  object
 67  DATE_APP                                                                      1649807 non-null  object
 68  SCORE                                                                         1649807 non-null  float64
 69  LIFETIME_BIN                                                                  1649807 non-null  float64
 70  BLOCK_DUR                                                                     1649807 non-null  float64
 71  BLOCK_CNT                                                                     1649807 non-null  float64
 72  CIRCLE                                                                        1649807 non-null  float64
 73  ALL_CLC                                                                       1649807 non-null  float64
 74  PAY_MAX                                                                       1649807 non-null  float64
 75  bad_address_home                                                              1649807 non-null  int64
 76  is_home100_v1                                                                 1649807 non-null  int64
 77  is_home500_v1                                                                 1649807 non-null  int64
 78  is_home1000_v1                                                                1649807 non-null  int64
 79  is_home2000_v1                                                                1649807 non-null  int64
 80  is_home100_v2                                                                 1649807 non-null  int64
 81  is_home500_v2                                                                 1649807 non-null  int64
 82  is_home1000_v2                                                                1649807 non-null  int64
 83  is_home2000_v2                                                                1649807 non-null  int64
 84  bad_address_work                                                              1649807 non-null  int64
 85  is_work100_v1                                                                 1649807 non-null  int64
 86  is_work500_v1                                                                 1649807 non-null  int64
 87  is_work1000_v1                                                                1649807 non-null  int64
 88  is_work2000_v1                                                                1649807 non-null  int64
 89  is_work100_v2                                                                 1649807 non-null  int64
 90  is_work500_v2                                                                 1649807 non-null  int64
 91  is_work1000_v2                                                                1649807 non-null  int64
 92  is_work2000_v2                                                                1649807 non-null  int64
dtypes: datetime64[ns](6), float64(21), int64(31), object(35)
memory usage: 1.2+ GB

In [28]:
result=pd.merge(result, bd_score, on=('APPLICID'), how='inner')
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1646100 entries, 0 to 1646099
Data columns (total 96 columns):
 #   Column                                                                        Non-Null Count    Dtype
---  ------                                                                        --------------    -----
 0   APPLICID                                                                      1646100 non-null  object
 1   RequestDate                                                                   1646100 non-null  datetime64[ns]
 2   PersonStatus                                                                  1336806 non-null  object
 3   SignIP                                                                        0 non-null        float64
 4   FilialCode                                                                    1646100 non-null  int64
 5   Requeststatus                                                                 1646100 non-null  object
 6   ProductName                                                                   1646100 non-null  object
 7   FirstRequestDate                                                              59618 non-null    datetime64[ns]
 8   FirstStatusRequest                                                            59618 non-null    object
 9   LastRequestDate                                                               28596 non-null    datetime64[ns]
 10  LastStatusRequest                                                             28596 non-null    object
 11  CreditSum                                                                     1646100 non-null  float64
 12  ApprovedCreditSum                                                             1646100 non-null  float64
 13  LimitType                                                                     1646100 non-null  object
 14  sex                                                                           1646100 non-null  object
 15  age                                                                           1646100 non-null  int64
 16  AddressIdentical                                                              1646100 non-null  object
 17  RegRegionName                                                                 1646100 non-null  object
 18  RegSettlement                                                                 255754 non-null   object
 19  RegCity                                                                       1459986 non-null  object
 20  PeriodOfRegionResidence                                                       1646100 non-null  object
 21  FactRegionName                                                                1646100 non-null  object
 22  FactSettlement                                                                135982 non-null   object
 23  FactCity                                                                      1575618 non-null  object
 24  EducationStatus                                                               1646100 non-null  object
 25  FamilyStatus                                                                  1551352 non-null  object
 26  otrasl_rabotodatelya                                                          1102786 non-null  object
 27  OrgStanding                                                                   1646100 non-null  object
 28  IsBankWorker                                                                  1646100 non-null  object
 29  HaveSalaryCard                                                                1646100 non-null  object
 30  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  1646100 non-null  object
 31  nalichie_dtp_za_poslednie_3_goda                                              1646100 non-null  object
 32  kolichestvo_detej_mladshe_18                                                  1646100 non-null  int64
 33  MonthlyIncome                                                                 1646100 non-null  int64
 34  ConfirmedMonthlyIncome                                                        1646100 non-null  float64
 35  SumOtherPayment                                                               1646100 non-null  int64
 36  CountRequest                                                                  1646100 non-null  int64
 37  NumberDay                                                                     28596 non-null    float64
 38  ProductNameLastRequest                                                        28596 non-null    object
 39  ProductPenultimateRequest                                                     11515 non-null    object
 40  lastDateRejectRequest                                                         15590 non-null    datetime64[ns]
 41  CountRejectRequestLastMonth                                                   1646100 non-null  int64
 42  CountRejectRequestLast3Month                                                  1646100 non-null  int64
 43  CountRejectRequestLast6Month                                                  1646100 non-null  int64
 44  CountRejectRequestLast12Month                                                 1646100 non-null  int64
 45  MontlyPaymentBKI                                                              1356178 non-null  float64
 46  MontlyPaymentAbbCredit                                                        13099 non-null    float64
 47  CreditLimit                                                                   1646100 non-null  float64
 48  Residence                                                                     1646100 non-null  object
 49  ScoreFICO                                                                     1261718 non-null  float64
 50  CreditHistoryStopFactors                                                      1646100 non-null  float64
 51  contractdate                                                                  186581 non-null   datetime64[ns]
 52  kategoriya_marshrut                                                           1646100 non-null  object
 53  Dohod                                                                         1646100 non-null  float64
 54  Rashod                                                                        1646100 non-null  float64
 55  PTI                                                                           1646100 non-null  float64
 56  30+                                                                           27422 non-null    float64
 57  STRATEGYID                                                                    1646100 non-null  object
 58  THETIMESTAMP                                                                  1646100 non-null  datetime64[ns]
 59  APPLICID.1                                                                    1646100 non-null  object
 60  FPSID                                                                         1646100 non-null  int64
 61  MAINRULES                                                                     1646100 non-null  object
 62  MAINSCOREVALUE                                                                1646100 non-null  int64
 63  APPLICID-2                                                                    1646100 non-null  object
 64  MATCH_SEQ                                                                     1646100 non-null  int64
 65  APPID                                                                         1646100 non-null  object
 66  RULE                                                                          1646100 non-null  object
 67  DATE_APP                                                                      1646100 non-null  object
 68  SCORE                                                                         1646100 non-null  float64
 69  LIFETIME_BIN                                                                  1646100 non-null  float64
 70  BLOCK_DUR                                                                     1646100 non-null  float64
 71  BLOCK_CNT                                                                     1646100 non-null  float64
 72  CIRCLE                                                                        1646100 non-null  float64
 73  ALL_CLC                                                                       1646100 non-null  float64
 74  PAY_MAX                                                                       1646100 non-null  float64
 75  bad_address_home                                                              1646100 non-null  int64
 76  is_home100_v1                                                                 1646100 non-null  int64
 77  is_home500_v1                                                                 1646100 non-null  int64
 78  is_home1000_v1                                                                1646100 non-null  int64
 79  is_home2000_v1                                                                1646100 non-null  int64
 80  is_home100_v2                                                                 1646100 non-null  int64
 81  is_home500_v2                                                                 1646100 non-null  int64
 82  is_home1000_v2                                                                1646100 non-null  int64
 83  is_home2000_v2                                                                1646100 non-null  int64
 84  bad_address_work                                                              1646100 non-null  int64
 85  is_work100_v1                                                                 1646100 non-null  int64
 86  is_work500_v1                                                                 1646100 non-null  int64
 87  is_work1000_v1                                                                1646100 non-null  int64
 88  is_work2000_v1                                                                1646100 non-null  int64
 89  is_work100_v2                                                                 1646100 non-null  int64
 90  is_work500_v2                                                                 1646100 non-null  int64
 91  is_work1000_v2                                                                1646100 non-null  int64
 92  is_work2000_v2                                                                1646100 non-null  int64
 93  DATE_OF_BIRTH                                                                 1646100 non-null  object
 94  score_binary                                                                  1646100 non-null  int64
 95  score_proba                                                                   1351127 non-null  float64
dtypes: datetime64[ns](6), float64(22), int64(32), object(36)
memory usage: 1.2+ GB

In [29]:
result.head()

,APPLICID,RequestDate,PersonStatus,SignIP,FilialCode,Requeststatus,ProductName,FirstRequestDate,FirstStatusRequest,LastRequestDate,...,is_work500_v1,is_work1000_v1,is_work2000_v1,is_work100_v2,is_work500_v2,is_work1000_v2,is_work2000_v2,DATE_OF_BIRTH,score_binary,score_proba
0,0002_69__002171,2019-01-09,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711
1,0002_69__002171,2019-01-09,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711
2,0002_69__002171,2019-01-09,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711
3,0002_69__002171,2019-01-09,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711
4,0002_69__002171,2019-01-09,Одобрен,NaN,2,Выдан кредит,Карта рассрочки 'Совесть',NaT,NaN,NaT,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711

In [30]:
result.shape
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1646100 entries, 0 to 1646099
Data columns (total 96 columns):
 #   Column                                                                        Non-Null Count    Dtype
---  ------                                                                        --------------    -----
 0   APPLICID                                                                      1646100 non-null  object
 1   RequestDate                                                                   1646100 non-null  datetime64[ns]
 2   PersonStatus                                                                  1336806 non-null  object
 3   SignIP                                                                        0 non-null        float64
 4   FilialCode                                                                    1646100 non-null  int64
 5   Requeststatus                                                                 1646100 non-null  object
 6   ProductName                                                                   1646100 non-null  object
 7   FirstRequestDate                                                              59618 non-null    datetime64[ns]
 8   FirstStatusRequest                                                            59618 non-null    object
 9   LastRequestDate                                                               28596 non-null    datetime64[ns]
 10  LastStatusRequest                                                             28596 non-null    object
 11  CreditSum                                                                     1646100 non-null  float64
 12  ApprovedCreditSum                                                             1646100 non-null  float64
 13  LimitType                                                                     1646100 non-null  object
 14  sex                                                                           1646100 non-null  object
 15  age                                                                           1646100 non-null  int64
 16  AddressIdentical                                                              1646100 non-null  object
 17  RegRegionName                                                                 1646100 non-null  object
 18  RegSettlement                                                                 255754 non-null   object
 19  RegCity                                                                       1459986 non-null  object
 20  PeriodOfRegionResidence                                                       1646100 non-null  object
 21  FactRegionName                                                                1646100 non-null  object
 22  FactSettlement                                                                135982 non-null   object
 23  FactCity                                                                      1575618 non-null  object
 24  EducationStatus                                                               1646100 non-null  object
 25  FamilyStatus                                                                  1551352 non-null  object
 26  otrasl_rabotodatelya                                                          1102786 non-null  object
 27  OrgStanding                                                                   1646100 non-null  object
 28  IsBankWorker                                                                  1646100 non-null  object
 29  HaveSalaryCard                                                                1646100 non-null  object
 30  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  1646100 non-null  object
 31  nalichie_dtp_za_poslednie_3_goda                                              1646100 non-null  object
 32  kolichestvo_detej_mladshe_18                                                  1646100 non-null  int64
 33  MonthlyIncome                                                                 1646100 non-null  int64
 34  ConfirmedMonthlyIncome                                                        1646100 non-null  float64
 35  SumOtherPayment                                                               1646100 non-null  int64
 36  CountRequest                                                                  1646100 non-null  int64
 37  NumberDay                                                                     28596 non-null    float64
 38  ProductNameLastRequest                                                        28596 non-null    object
 39  ProductPenultimateRequest                                                     11515 non-null    object
 40  lastDateRejectRequest                                                         15590 non-null    datetime64[ns]
 41  CountRejectRequestLastMonth                                                   1646100 non-null  int64
 42  CountRejectRequestLast3Month                                                  1646100 non-null  int64
 43  CountRejectRequestLast6Month                                                  1646100 non-null  int64
 44  CountRejectRequestLast12Month                                                 1646100 non-null  int64
 45  MontlyPaymentBKI                                                              1356178 non-null  float64
 46  MontlyPaymentAbbCredit                                                        13099 non-null    float64
 47  CreditLimit                                                                   1646100 non-null  float64
 48  Residence                                                                     1646100 non-null  object
 49  ScoreFICO                                                                     1261718 non-null  float64
 50  CreditHistoryStopFactors                                                      1646100 non-null  float64
 51  contractdate                                                                  186581 non-null   datetime64[ns]
 52  kategoriya_marshrut                                                           1646100 non-null  object
 53  Dohod                                                                         1646100 non-null  float64
 54  Rashod                                                                        1646100 non-null  float64
 55  PTI                                                                           1646100 non-null  float64
 56  30+                                                                           27422 non-null    float64
 57  STRATEGYID                                                                    1646100 non-null  object
 58  THETIMESTAMP                                                                  1646100 non-null  datetime64[ns]
 59  APPLICID.1                                                                    1646100 non-null  object
 60  FPSID                                                                         1646100 non-null  int64
 61  MAINRULES                                                                     1646100 non-null  object
 62  MAINSCOREVALUE                                                                1646100 non-null  int64
 63  APPLICID-2                                                                    1646100 non-null  object
 64  MATCH_SEQ                                                                     1646100 non-null  int64
 65  APPID                                                                         1646100 non-null  object
 66  RULE                                                                          1646100 non-null  object
 67  DATE_APP                                                                      1646100 non-null  object
 68  SCORE                                                                         1646100 non-null  float64
 69  LIFETIME_BIN                                                                  1646100 non-null  float64
 70  BLOCK_DUR                                                                     1646100 non-null  float64
 71  BLOCK_CNT                                                                     1646100 non-null  float64
 72  CIRCLE                                                                        1646100 non-null  float64
 73  ALL_CLC                                                                       1646100 non-null  float64
 74  PAY_MAX                                                                       1646100 non-null  float64
 75  bad_address_home                                                              1646100 non-null  int64
 76  is_home100_v1                                                                 1646100 non-null  int64
 77  is_home500_v1                                                                 1646100 non-null  int64
 78  is_home1000_v1                                                                1646100 non-null  int64
 79  is_home2000_v1                                                                1646100 non-null  int64
 80  is_home100_v2                                                                 1646100 non-null  int64
 81  is_home500_v2                                                                 1646100 non-null  int64
 82  is_home1000_v2                                                                1646100 non-null  int64
 83  is_home2000_v2                                                                1646100 non-null  int64
 84  bad_address_work                                                              1646100 non-null  int64
 85  is_work100_v1                                                                 1646100 non-null  int64
 86  is_work500_v1                                                                 1646100 non-null  int64
 87  is_work1000_v1                                                                1646100 non-null  int64
 88  is_work2000_v1                                                                1646100 non-null  int64
 89  is_work100_v2                                                                 1646100 non-null  int64
 90  is_work500_v2                                                                 1646100 non-null  int64
 91  is_work1000_v2                                                                1646100 non-null  int64
 92  is_work2000_v2                                                                1646100 non-null  int64
 93  DATE_OF_BIRTH                                                                 1646100 non-null  object
 94  score_binary                                                                  1646100 non-null  int64
 95  score_proba                                                                   1351127 non-null  float64
dtypes: datetime64[ns](6), float64(22), int64(32), object(36)
memory usage: 1.2+ GB

Удалим из датафрейма ненужные столбцы (их перечисление можно посмотреть в документе https://docs.google.com/document/d/1qYjopYc2cXhwd3tl_pw6eTSN3rB9Mp2kAwycnAYojAU/edit?usp=sharing)

In [31]:
result_d=result.drop(['STRATEGYID', 'THETIMESTAMP', 'SignIP', 'FilialCode', 'RequestDate', 'ProductName', 'PersonStatus', 'FirstRequestDate', 'FirstStatusRequest', 'LastRequestDate', 'LastStatusRequest', 'ProductNameLastRequest', 'ProductPenultimateRequest'], axis='columns')

In [32]:
result_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1646100 entries, 0 to 1646099
Data columns (total 83 columns):
 #   Column                                                                        Non-Null Count    Dtype
---  ------                                                                        --------------    -----
 0   APPLICID                                                                      1646100 non-null  object
 1   Requeststatus                                                                 1646100 non-null  object
 2   CreditSum                                                                     1646100 non-null  float64
 3   ApprovedCreditSum                                                             1646100 non-null  float64
 4   LimitType                                                                     1646100 non-null  object
 5   sex                                                                           1646100 non-null  object
 6   age                                                                           1646100 non-null  int64
 7   AddressIdentical                                                              1646100 non-null  object
 8   RegRegionName                                                                 1646100 non-null  object
 9   RegSettlement                                                                 255754 non-null   object
 10  RegCity                                                                       1459986 non-null  object
 11  PeriodOfRegionResidence                                                       1646100 non-null  object
 12  FactRegionName                                                                1646100 non-null  object
 13  FactSettlement                                                                135982 non-null   object
 14  FactCity                                                                      1575618 non-null  object
 15  EducationStatus                                                               1646100 non-null  object
 16  FamilyStatus                                                                  1551352 non-null  object
 17  otrasl_rabotodatelya                                                          1102786 non-null  object
 18  OrgStanding                                                                   1646100 non-null  object
 19  IsBankWorker                                                                  1646100 non-null  object
 20  HaveSalaryCard                                                                1646100 non-null  object
 21  nalichie_administrativnogo_pravonarusheniya_s_lisheniem_prava_upravleniya_ts  1646100 non-null  object
 22  nalichie_dtp_za_poslednie_3_goda                                              1646100 non-null  object
 23  kolichestvo_detej_mladshe_18                                                  1646100 non-null  int64
 24  MonthlyIncome                                                                 1646100 non-null  int64
 25  ConfirmedMonthlyIncome                                                        1646100 non-null  float64
 26  SumOtherPayment                                                               1646100 non-null  int64
 27  CountRequest                                                                  1646100 non-null  int64
 28  NumberDay                                                                     28596 non-null    float64
 29  lastDateRejectRequest                                                         15590 non-null    datetime64[ns]
 30  CountRejectRequestLastMonth                                                   1646100 non-null  int64
 31  CountRejectRequestLast3Month                                                  1646100 non-null  int64
 32  CountRejectRequestLast6Month                                                  1646100 non-null  int64
 33  CountRejectRequestLast12Month                                                 1646100 non-null  int64
 34  MontlyPaymentBKI                                                              1356178 non-null  float64
 35  MontlyPaymentAbbCredit                                                        13099 non-null    float64
 36  CreditLimit                                                                   1646100 non-null  float64
 37  Residence                                                                     1646100 non-null  object
 38  ScoreFICO                                                                     1261718 non-null  float64
 39  CreditHistoryStopFactors                                                      1646100 non-null  float64
 40  contractdate                                                                  186581 non-null   datetime64[ns]
 41  kategoriya_marshrut                                                           1646100 non-null  object
 42  Dohod                                                                         1646100 non-null  float64
 43  Rashod                                                                        1646100 non-null  float64
 44  PTI                                                                           1646100 non-null  float64
 45  30+                                                                           27422 non-null    float64
 46  APPLICID.1                                                                    1646100 non-null  object
 47  FPSID                                                                         1646100 non-null  int64
 48  MAINRULES                                                                     1646100 non-null  object
 49  MAINSCOREVALUE                                                                1646100 non-null  int64
 50  APPLICID-2                                                                    1646100 non-null  object
 51  MATCH_SEQ                                                                     1646100 non-null  int64
 52  APPID                                                                         1646100 non-null  object
 53  RULE                                                                          1646100 non-null  object
 54  DATE_APP                                                                      1646100 non-null  object
 55  SCORE                                                                         1646100 non-null  float64
 56  LIFETIME_BIN                                                                  1646100 non-null  float64
 57  BLOCK_DUR                                                                     1646100 non-null  float64
 58  BLOCK_CNT                                                                     1646100 non-null  float64
 59  CIRCLE                                                                        1646100 non-null  float64
 60  ALL_CLC                                                                       1646100 non-null  float64
 61  PAY_MAX                                                                       1646100 non-null  float64
 62  bad_address_home                                                              1646100 non-null  int64
 63  is_home100_v1                                                                 1646100 non-null  int64
 64  is_home500_v1                                                                 1646100 non-null  int64
 65  is_home1000_v1                                                                1646100 non-null  int64
 66  is_home2000_v1                                                                1646100 non-null  int64
 67  is_home100_v2                                                                 1646100 non-null  int64
 68  is_home500_v2                                                                 1646100 non-null  int64
 69  is_home1000_v2                                                                1646100 non-null  int64
 70  is_home2000_v2                                                                1646100 non-null  int64
 71  bad_address_work                                                              1646100 non-null  int64
 72  is_work100_v1                                                                 1646100 non-null  int64
 73  is_work500_v1                                                                 1646100 non-null  int64
 74  is_work1000_v1                                                                1646100 non-null  int64
 75  is_work2000_v1                                                                1646100 non-null  int64
 76  is_work100_v2                                                                 1646100 non-null  int64
 77  is_work500_v2                                                                 1646100 non-null  int64
 78  is_work1000_v2                                                                1646100 non-null  int64
 79  is_work2000_v2                                                                1646100 non-null  int64
 80  DATE_OF_BIRTH                                                                 1646100 non-null  object
 81  score_binary                                                                  1646100 non-null  int64
 82  score_proba                                                                   1351127 non-null  float64
dtypes: datetime64[ns](2), float64(21), int64(31), object(29)
memory usage: 1.0+ GB

In [33]:
result_d.head()

,APPLICID,Requeststatus,CreditSum,ApprovedCreditSum,LimitType,sex,age,AddressIdentical,RegRegionName,RegSettlement,...,is_work500_v1,is_work1000_v1,is_work2000_v1,is_work100_v2,is_work500_v2,is_work1000_v2,is_work2000_v2,DATE_OF_BIRTH,score_binary,score_proba
0,0002_69__002171,Выдан кредит,32000.0,32000.0,Скоринг,Женский,21,совпадает,Москва г,NaN,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711
1,0002_69__002171,Выдан кредит,32000.0,32000.0,Скоринг,Женский,21,совпадает,Москва г,NaN,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711
2,0002_69__002171,Выдан кредит,32000.0,32000.0,Скоринг,Женский,21,совпадает,Москва г,NaN,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711
3,0002_69__002171,Выдан кредит,32000.0,32000.0,Скоринг,Женский,21,совпадает,Москва г,NaN,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711
4,0002_69__002171,Выдан кредит,32000.0,32000.0,Скоринг,Женский,21,совпадает,Москва г,NaN,...,2,2,2,2,2,2,2,1997-10-22,1,0.917711

In [34]:
# result.to_excel('result.xlsx', index=False)